# Core
CLIENT_ID="hyperclusters-1415"  # kafka's group id
CHANNELS="mainnet,testnet,subnet,intranet,darknet"      # kafka topics

# MongoDB
MONGODB_URI="mongodb://localhost:27017/"

# Kafka
KAFKA_SERVER="0.0.0.0:65007"
KAFKA_USERNAME=""
KAFKA_PASSWORD=""
